<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">< code/xplain /></h1>
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <input id="search-text" type="text" placeholder="What do you need explained?">
                <p>
                    <a href="http://purecss.io" class="pure-button pure-button-primary">explain, please</a>
                </p>
            </fieldset>
        </form>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
    </div>
    <div class="content">
    </div>
    <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div>

</div>