<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">< code/xplain /></h1>
        <%= form_tag("/search", method: "get") do  %>
            <div class="pure-form pure-form-stacked">
                <fieldset>
                    <%= label_tag("search_text", "") %>
                    <%= text_field_tag("search_text", nil, placeholder: "What do you need explained?") %>
                    <p>
                        <%= submit_tag("explain, please")  %>
                            
                        <!-- <a href="http://purecss.io" class="pure-button pure-button-primary">explain, please</a> -->
                    </p>
                </fieldset>
            </div>            
        <% end %>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
    </div>
    <div class="content">
    </div>
    <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div>

</div>

<div id="results"></div>

<script type="text/javascript">
  $("#search_text").keyup(function(event) {
  $.get('/search?search='+ $(this).val());
});
</script>